<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>board</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
    <div class="container">
    	<h2>게시글 목록</h2>
       	<table class="board_list">
	        <colgroup>
	            <col width="15%"/>
	            <col width="*"/>
	            <col width="15%"/>
	            <col width="20%"/>
	        </colgroup>
	        <thead class="thead-light" style="background-color :bisque">
	            <tr>
	                <th scope="col">글번호</th>
	                <th scope="col">제목</th>
	                <th scope="col">조회수</th>
	                <th scope="col">작성일</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr th:each="list :${dataJ.content}">
	        		<td th:text="${list.boardIdx}"></td>
	        		<td class="title">
	        		<a href="/board/" th:attrappend="href=${list.boardIdx}" th:text="${list.title}"></a></td>
	        		<td th:text="${list.hitCnt}"></td>
	        		<td th:text="${list.createdDatetime}"></td>
	        	</tr> 
	        	
	        	<tr th:unless="${#lists.size(dataJ)} > 0">
	        		<td colspan="4">조회된 결과가 없습니다.</td>
	        	</tr>
	        	 
	        </tbody>
	    </table>
	    
				<ul class="nav nav-pills">
					<li class="nav-item"
						th:each="pageNum:  ${#numbers.sequence(0,dataJ.totalPages-1)}"><a
						th:href="@{/board/(page=${pageNum})}" th:text="${pageNum}" class="nav-link"
						th:classappend="${currentPage}==${pageNum}?'active':''"></a></li>
				</ul>
		     
	     
	    <a href="/board/write" class="btn">글 쓰기</a>
    </div>
</body>
</html>